.top_task{
    display:flex;
    justify-content: space-between;
}
.btn_create_task{
    display: flex;
align-items: center;
justify-content: center ;
color: white;
width: 110px;
height: 26px;
left: 8px;
top: 8px;
background: #CC5B53;
border-radius: 6px;
}
.todos li{
    height: 40px;
border-radius: 6px;
border: 20px;
border: 2px solid #34B456;
align-items: center ;
}
.description{
    width: 80%;
}